.dbs--input-wrapper {
    display: flex;
    order: 3;
    width: 100%;
}
.dbs--select {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    order: 2;
}
.dbs--select-input {
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    height: 40px;
    appearance: none;
    display: block;
    width: 100%;
    padding: 0 1.5rem 0 0.5rem;
    color: black;
    background-color: #ffff;
    border: 1px solid #155474;
    order: 2;
    border-radius: 0;
    cursor: pointer;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    margin-right: 2rem;
    padding: 1rem;
    padding-right: 2rem;
}