
.dbs--radio-button {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    visibility: visible;
    white-space: nowrap;
    visibility: unset;
  }
  
  .dbs--radio-button__label {
    font-size: 0.875rem;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .dbs--radio-button__appearance {
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #77a0b6;
    flex-shrink: 0;
    height: 1.125rem;
    width: 1.125rem;
    margin-right: 0.5rem;
  }
  
  .dbs--radio-button:checked
    + .dbs--radio-button__label
    .dbs--radio-button__appearance {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #007dbc;
  }
  .dbs--radio-button:checked
    + .dbs--radio-button__label
    .dbs--radio-button__appearance:before {
    content: '';
    display: inline-block;
    position: relative;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color:#007dbc
  }
  
  .dbs--radio-button:disabled + .dbs--radio-button__label {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .dbs--radio-button:focus
    + .dbs--radio-button__label
    .dbs--radio-button__appearance {
    box-shadow: 0 0 0 3px #80bede;
    outline: 1px solid transparent;
  }
  
